%TMPL:INCLUDE{"view"}%
%TMPL:INCLUDE{"jhotdraw"}%
%TMPL:DEF{"jhotdrawmisc"}%%ADDTOHEAD{"JHOTDRAWPLUGIN::DEPS" text="<script type='text/javascript' src='%PUBURLPATH%/%SYSTEMWEB%/JavascriptFiles/foswikiEvent.js'></script>"}%%TMPL:END%
